

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #4D90FE;
}

a:hover {
    color: #4D90FE;
    background-color: transparent;
    text-decoration: underline;
}

.categories-wrapper img {
    object-fit: contain;
    border: 1px solid;
    border-color: black;
    box-shadow: 2px 5px 10px grey;
    width: 200px;
}
