
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Mytems!</h2>
<input type="button" onclick="window.location.href='/home/login'" class="btn btn-primary" value="log in"/>
<input type="button" class="btn btn-info" value="sign up"/>

