
@{
    ViewBag.Title = "Index";
}

<h2 style="display: block; text-shadow: 2px 2px 5px #345; width: 100%; text-align: center;">Welcome to Mytems!</h2><br /><br />

    <h4 style="text-align: center">About us</h4>
    <section class="container" style="display: block; column-count: 3;">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vivamus arcu felis bibendum ut tristique. Nulla pharetra diam sit amet nisl suscipit. Sit amet nisl purus in mollis nunc sed id. Nec ultrices dui sapien eget mi proin sed. Nullam eget felis eget nunc lobortis. Vitae et leo duis ut diam quam nulla porttitor massa. Mattis rhoncus urna neque viverra justo nec. Laoreet sit amet cursus sit amet dictum sit amet justo. Quisque id diam vel quam elementum pulvinar etiam. Tortor at risus viverra adipiscing at. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Fermentum iaculis eu non diam phasellus vestibulum lorem. Volutpat lacus laoreet non curabitur gravida arcu ac tortor. Eu nisl nunc mi ipsum faucibus vitae. Adipiscing tristique risus nec feugiat in fermentum. At elementum eu facilisis sed odio morbi quis. Felis imperdiet proin fermentum leo vel orci. Turpis massa tincidunt dui ut ornare lectus. Gravida arcu ac tortor dignissim convallis aenean et tortor.
        </p>
    </section>
    <div class="row">
        <aside class="col-sm-1">
            <div style="display:block;width:100%; text-align:center;">
                <a style="transform: rotate(270deg);" class="btn btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?url=www.Mytems.com&text=Hi%20everyone!%20I%20found%20an%20awesome%20online%20thrift%20store!%20check%20it%20out">
                    Share on Twitter

                </a>
            </div>
        </aside>
        <div>
            <video class="col-sm-10" controls autoplay muted style="display: block; margin: 20px auto" id="vid">
                <source src="~/assets/videos/about_us_video.mp4" />
            </video>
        </div>
    </div>