@using Mytems.Models
@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1 class="display-1 text-center" style="margin-left:0%;font-family:Bahnschrift;">Dashboard</h1>
</div>


<h1 class="display-4 text-center" style="font-family:Bahnschrift;">Categories</h1>

<div class="categories-wrapper" style="margin: 0 auto;">
    <table class="categories-table" style="margin: 0 auto; border-spacing: 20px; border-collapse: separate;">
        <tr>
            <td>
                <a href="/products/index?category=phones">
                    <img src="~/assets_images/phones_icon.png" />
                </a>
            </td>
            <td>
                <a href="/products/index?category=cars">
                    <img src="~/assets_images/cars_icon.png" />
                </a>
            </td>
            <td>
                <a href="/products/index?category=sports">
                    <img src="~/assets_images/sports_icon.png" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/products/index?category=electronics">
                    <img src="~/assets_images/electronics_icon.png" />
                </a>
            </td>
            <td>
                <a href="/products/index?category=games">
                    <img src="~/assets_images/games_icon.png" />
                </a>
            </td>
            <td>
                <a href="/products/index?category=furniture">
                    <img src="~/assets_images/furniture_icon.png" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/products/index?category=kids">
                    <img src="~/assets_images/kids_icon.png" />
                </a>
            </td>
            <td>
                <a href="/products/index?category=other">
                    <img src="~/assets_images/other_icon.png" />
                </a>
            </td>
            <td>
                <a href="/products/index">
                    <img src="~/assets_images/all_icon.png" />
                </a>
            </td>
        </tr>
    </table>
</div>

<hr />

<h1 class="display-4 text-center" style="font-family:Bahnschrift;">Suggested for you</h1>

<div class="container">
    <div class="row">
        @foreach (Product product in ViewBag.SuggestedProducts)
        {
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="@product.ImagePath" alt="Card image cap" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">
                            Price: <span class="price-display">$@product.Price</span>
                            <br />
                            Description:<br />
                            @product.Description
                        </p>
                        <a href="/Products/Details/@product.ProductID" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />