@model Mytems.Models.Customer
@using Mytems.Models
@{
    ViewBag.Title = "Details";
}

<h2 style="margin-left: 30px">Seller Details</h2>
<div>
    <hr />
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Username</h5>
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.Username)</p>
        </div>
    </div>
    @{
        User user = Session["User"] as User;
        if (user is Admin || user?.UserID == Model.UserID)
        {
            <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title">Password</h5>
                    <hr />
                    <p class="card-text">@Html.DisplayFor(model => model.Password)</p>
                </div>
            </div>
        }
    }
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">First Name</h5>
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.FirstName)</p>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Last Name</h5>
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.LastName)</p>
        </div>
    </div>
</div>
@{
    user = Session["User"] as User;
    if (user is Admin)
    {
        <div style="display: block; margin:30px auto; padding-left: 40%; padding-right: 40%">
            <a style="display: block; margin:10px auto;" class="btn btn-primary" href="/Sellers/edit/@Model.UserID">Edit</a>
            <a style="display: block; margin:0 auto;" class="btn btn-primary" href="/Sellers/index">Back to List</a>
        </div>
    }
    else if (user?.UserID == Model.UserID)
    {
        <div style="display: block; margin:30px auto; padding-left: 40%; padding-right: 40%">
            <a style="display: block; margin:0 auto;" class="btn btn-primary" href="/Sellers/edit/@Model.UserID">Edit</a>
        </div>
    }
}


