@{
    ViewBag.Title = "Dashboard";
}

<h2 style="text-align: center;">Dashboard</h2>

<style>
    .optTabs .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
        padding: 5px 15px;
    }

    /*.optTabs .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }*/

    .optTabs .active > a {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
</style>


<div class="container"><h3>Change the number of days in the graph</h3></div>
<div class="container optTabs">
    <ul class="nav nav-pills">
        <li class="active">
            <a id="opt1" href="#1b" data-toggle="tab">7 days</a>
        </li>
        <li>
            <a id="opt2" href="#2b" data-toggle="tab">14 days</a>
        </li>
        <li>
            <a id="opt3" href="#3b" data-toggle="tab">21 days</a>
        </li>
        <li>
            <a id="opt4" href="#4b" data-toggle="tab">28 days</a>
        </li>
    </ul>

    <!--<div class="tab-content clearfix">
        <div class="tab-pane active" id="1b">
            <h3>Same as example 1 but we have now styled the tab's corner</h3>
        </div>
        <div class="tab-pane" id="2b">
            <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
        </div>
        <div class="tab-pane" id="3b">
            <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
        </div>
        <div class="tab-pane" id="4b">
            <h3>We use css to change the background color of the content to be equal to the tab</h3>
        </div>
    </div>-->
</div>



<canvas id="salesPerDayChart" style="height: 250%; width: 50%; display: inline-block"></canvas>
<canvas id="second" style="height: 100%; width: 50%; display: inline-block"></canvas>




@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


    <script id="salesPerDayGraph">
        $(document).ready(function () {
            var ctx = $("#salesPerDayChart").get(0).getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart to create
                type: 'line',

                // The data for the dataset
                data: {
                    labels: @ViewBag.columnGraphData[0],
                    datasets: [{
                        label: 'Number of Sales Per Day',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: @ViewBag.columnGraphData[1]
                    }]
                },

                // Configuration options
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    responsive: false,
                    maintainAspectRatio: false
                }
            });
        });
    </script>


    <script src="~/Scripts/adminGraphUpdators.js"></script>
}