@model Mytems.Models.Admin

@{
    ViewBag.Title = "Details";
}

<h2>Admin Details</h2>

<div>
    <hr />
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Username</h5>
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.Username)</p>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
             <h5 class="card-title">Password</h5>
             <hr />
             <p class="card-text">@Html.DisplayFor(model => model.Password)</p>
        </div>
    </div>
</div>
<div style="display: block; margin:30px auto; padding-left: 40%; padding-right: 40%">
    <a style="display: block; margin:10px auto;" class="btn btn-primary" href="/Sellers/edit/@Model.UserID">Edit</a>
    <a style="display: block; margin:0 auto;" class="btn btn-primary" href="/Sellers/index">Back to List</a>
</div>
<div style="display: block; margin:30px auto; padding-left: 40%; padding-right: 40%">
    <a style="display: block; margin:0 auto;" class="btn btn-primary" href="/Sellers/edit/@Model.UserID">Edit</a>
</div>
