@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1 class="display-1 text-center" style="margin-left:0%;font-family:Bahnschrift;">Dashboard</h1>
</div>


<div style="text-align:center;margin:0 20%;">
    <!-- Sales per day graph -->
    <div style="margin:8% auto;height:300px;">
        <div class="container"><h2 style="font-family:Bahnschrift;">Sales Per Day</h2></div>
        <canvas id="salesPerDayCanvas" style="height: 100%; width: 80%; display: inline-block"></canvas>
    </div>
    <!-- Category by money value pie chart -->
    <hr />
    <div style="margin:8% auto;height:300px;">
        <h2 style="font-family:Bahnschrift;">Sales money by category (in dollars)</h2>
        <canvas id="categoryMoneyValueCanvas" style="height: 100%; width: 100%; display: inline-block"></canvas>
    </div>
    <hr />

    <!-- Best sellers by total sales money bar chart -->
    <div style="margin:8% auto;height:300px;">
        <div class="container" style="margin-top:100px;"><h2 style="font-family:Bahnschrift;">Best Sellers By Total Sales Money (in dollars)</h2></div>
        <canvas id="bestSellersByTotalSalesMoneyCanvas" style="height: 100%; width: 80%; display: inline-block"></canvas>
    </div>
</div>




@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script id="salesPerDayScript" src="~/Scripts/Charts/Seller/salesPerDay.js" data-chart-data="@ViewBag.salesPerDayData"></script>
    <script id="categoryMoneyValueScript" src="~/Scripts/Charts/Seller/categoryMoneyValue.js" data-chart-data="@ViewBag.categoryMoneyValueData"></script>
    <script id="bestSellersByTotalSalesMoneyScript" src="~/Scripts/Charts/Seller/bestSellersByTotalSalesMoney.js" data-chart-data="@ViewBag.bestSellersByTotalSalesMoney"></script>
}